{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}
    <h1>Recipes</h1>

    <p>
      <a href="/recipes/new">➕ Add recipe</a>
    </p>

    {% for category in ["breakfast", "lunch", "dinner", "snack"] %}
    <h2>{{ category | capitalize }}</h2>
    <ul>
      {% for r in recipes_by_category.get(category, []) %}
      <li>
        <a href="/recipes/{{ r[0] }}">
          <strong>{{ r[1] }}</strong>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
    <a href="/">Back</a>
{% endblock %}
